<section class="bg-white ">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <h2 class="mb-4 text-xl font-semibold leading-none text-gray-900 ">General Information</h2>
          <div class="grid gap-4 mb-4 md:gap-6 md:grid-cols-2 sm:mb-8">
              <div class="sm:col-span-2">
                  <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input">Upload avatar</label>
                  <div class="items-center w-full sm:flex">
                      <%= image_tag resource.avatar_url_of_default, class: "w-20 h-20 mb-4 rounded-full sm:mr-4 sm:mb-0" %>
                      <div class="w-full">
                        <%= f.file_field :avatar , class: "w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400", accept: 'image/svg,image/png,image/jpg,image/jpeg', id: "avatar-input", type: "file" %>
                        <p class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
                      </div>
                  </div>
              </div>
              <div>
                <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " %>
              </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
              <div>
                  <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900" %>
                  <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"  %>
                  <% if @minimum_password_length %>
                    <em class="text-xs"><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                   <i class="text-xs">(leave blank if you don't want to change it)</i>
              </div>
              <div>
                <%= f.label :password_confirmation, class:"block mb-2 text-sm font-medium text-gray-900"%>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %> 
             </div>
            <div>
              <%= f.label :current_password, class:"block mb-2 text-sm font-medium text-gray-900"%>
              <%= f.password_field :current_password, autocomplete: "current-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
              <i class="text-xs">(we need your current password to confirm your changes)</i><br />
            </div>
          </div>
          <%= f.submit "Update", class: "inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-black bg-bleu-700 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800" %>
      <% end %>

      <h3>Cancel my account</h3>

      <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <%= link_to "Back", :back %>
  </div>
</section>
