<section>
  <div>
    <h1 class="font-bold text-4xl">Room#index</h1>
    <p><%= current_user.email %></p>
  </div>
  <%=  turbo_stream_from"rooms" %>
  <div id="rooms">
    <h1 class="font-bold text-4xl">all Room</h1>
    <%= render partial:"room", locals: {records: @rooms} %>
  </div>

  <%= turbo_stream_from "users" %>
  <div id="users" >
    <h1 class="font-bold text-4xl">all users</h1>
   <%= render partial:"room", locals: {records: @users} %>
  </div>
</section>